*.py[co]
__pycache__/
*.egg-info/
.mypy_cache/
.venv/
vendor/*.gz
dist/
/venv

*.sublime-workspace
.vscode/
celerybeat-schedule
celerybeat.pid

.env
*.env
config/*.yaml
*/var/
var/*
!.gitkeep
.vim/
.idea/
.python-version
*development.yaml
*production.yaml
webapi/permissions/admin.json
webapi/permissions/member.json
webapi/billing_plans/json_conf/*
dump*
venv.sh
.pytest_cache/
webapi/media/*
media/*
!*/media/flags/
logs/*
poetry.lock
*/poetry.lock
*/.DS_Store
.DS_Store
*.sql
/lib/*
/webapi/firebase_cert/*
appmap.yml


